.env
naia/settings/local.py

db.sqlite3
__pycache__/
venv/
*csv
*ipynb
*json
*jpg
prueba*
*xlsx
*png
*jpg

pruebas/
*html
.vscode

deploy_server.py

chromadb_user/
media/
logs/


chromadb_uniguide/
rag_docs/
apps/uniguide/rag_test.py